<div id="slide5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>We look forward to hearing from you!  Questions, comments, or for more information on lessons, please contact us by phone or email.
        </h2>

        <h2>
          1890 N. Milwaukee Av.
          Chicago, IL 606487
          773-904-7426
          <a href="#">music@bucktownmusic.com</a>
        </h2>

        <p>
          We are available to provide music programs to schools and daycares.  
          Please contact us for more information.
        </p>
    </div>
  </div>
</div>