<div id="slide4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>What People Are Saying About Us...</h1>
      </div>

      <div class="col-xs-12 col-md-4 center" id="testimonials-first-kid">
        <span class='inner'></span>
      </div>

      <p>
        “I feel that our Kindermusik class is an engaging, stimulating, and fun way to share quality time with my child.  Not only is it a special, fun hour that we get to spend together in class, but I believe that it’s also helped my daughter’s language development and helped foster a love of music.”
      </p>

      <p>
        -C. McCormick (Kindermusik mom and former preK teacher-began classes at 6 months)
      </p>

      <p>
        “Bucktown Music’s classes are so age appropriate and a wealth of information in cognitive development.  Their patience and knowledge creates a wonderful learning environment”
      </p>

      <p>
        -S. Allen (Kindermusik grandma and former kindergarten teacher-began classes at 16 months)
      </p>

      <div class="col-xs-12 col-md-4 center" id="testimonials-first-kid">
        <span class='inner'></span>
      </div>

      <p>
        -S. Allen (Kindermusik grandma and former kindergarten teacher-began classes at 16 months)
      </p>

      <div class="col-xs-12 col-md-4 center" id="testimonials-first-kid">
        <span class='inner'></span>
      </div>

      <p>
        “My daughter has been taking violin lessons for a year and has learned so much in such a short period of time.  She has performed during family outings and school assemblies.  We are very proud of her and blessed that Bucktown Music has made this experience so wonderful for her.  My daughter is looking forward to continuing taking violin classes for many years to come.  Thanks to the teacher for her hard work and dedication to her students.”
      </p>

      <p>
        -I. Rodriguez
      </p>


      <p>
        “I have been extremely happy with my teacher’s knowledge of music, and her patience and ability to teach my son.  She can always motivate and get him back on track.  I strongly encourage anyone to sign up with Bucktown Music!”
      </p>

      <p>
        -D. Vazquez
      </p>

      <div class="col-xs-12 col-md-4 center" id="testimonials-first-kid">
        <span class='inner'></span>
      </div>
    </div>
  </div>
</div>
