<div class="container-fluid" id="slide3">

  <h1>Bucktown Music presents Kindermusik</h1>

  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">  
      <h2>Student Spotlight: Perkins Family</h2>
      
      <p>We have been in Kindermusik since my son was 10 months old (about 16 months so far).  He has developed a very strong love of music - so much so that we bought a variety of instruments for him to use at home.  He learned how to jump and spin in music, and how to lie down and be quiet, as well as many vocabulary words, dance steps and how to tap for rhythm.  Last but not least, we all ADORE our teacher Patty! My son talks about Miss Patty all week long. He is also always singing the songs from class, it's awesome.  Thanks for providing such a wonderful experience for our family.<br> <i>-E. Perkins</i></p>
    </div>


    <div class="col-xs-12 col-md-4 col-md-offset-1" id="kindermusic-first-kid">
      <span class='inner'></span>
    </div>
  </div>




  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1 col-md-push-5">
      <h2>About our Program:</h2>

      <p>
        Bucktown Music is committed to providing the very best music education for Chicago families.  For our youngest learners, we offer Kindermusik classes for children newborn to 5 years old, and are proud to be recognized as a “Conductor’s Circle Maestro Program,” which means we are one of the TOP 1% of all Kindermusik programs worldwide!
      </p>
      <p>
        Our mission is simple:  <b>Music is the best vehicle for early childhood development and learning.</b>  So, we want to empower parents to instill a lifelong love of music and learning in their children. As we say, a good beginning never ends.  From the tiniest babies and into private music lessons, we look forward to making music with you! 
      </p>
    </div>

    <div class="col-xs-12 col-md-4 col-md-pull-5" id="kindermusic-second-kid">
      <span class='inner'></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <p>
        When your child completes the Kindermusik program, we offer private music lessons to continue the journey!
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <a href="#" >CLICK HERE for the class brochure</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" id="new-arrival">
      <span class='inner'></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="locations">
      <p class="text-center">
        <b>Bucktown</b><br> Bucktown Music 1890 N. Milwaukee Ave. 60647<br>
        <b>Roscoe Village</b><br>  Be By Baby (Baby & toddler classes only) 1654 W. Roscoe 60657<br>
        <b>Lakeview</b><br> (Partnership with Bernard Zell Anshe Emet School): 3751 N. Broadway 60613
      </p>
      <p>
        We are available to provide on-site classes at schools and daycares (we are an approved CPS vendor). <br> Contact jessica@bucktownmusic.com for a personalized quote.<br>
        773-904-7426
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-3 text-center">
        <a href="#">jessica@bucktownmusic.com</a>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center">
        <a href="#">music@bucktownmusic.com</a>
    </div>
  </div>

  <div id="kindermusic-logo">
    <span class='inner'></span>
  </div>
</div>