@import "bootstrap";


h1{
  font-family: "Oswald";
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  // color: #222;
  margin-bottom: 25px;
  padding: 0;
}

h2{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  // color: #222;
  margin-bottom: 15px;
  padding: 0;
}

h3{
  font-family: 'Oswald';
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  padding: 0;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
  text-align: center;
}

a {
  color: #285379;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #428BCA;
    text-decoration: none;
  }
}

.img-row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.row {
  margin-bottom: 2%;
}

.vertical-center {
  height:100%;
  line-height:100%;
}

#header {
  width: 100%;
  min-height: 80px;
  position: fixed;
  top: 0px;
  opacity: 0.90;
  background-color: white;
}

#header-left {
  width: 60%;
  float: left;
  margin-left: 20%;
  
  #nav {
    float: right;
    width: 100%;
    // margin-left: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    z-index: 1;

    ul {
      width: 100%;
      list-style: none;
      padding: 0;

      li {
        display: block;
        float: left;
        margin-top: 1.5%;
        padding-left: 2%;

        a {
          color: #888;
          font-size: 1em;
          text-decoration: none;
          font-family: 'Oswald';

          &.active {
            color: #222;
            border-bottom: 3px solid #222;
          }

          &:hover {
            color: #222;
          }
        }

        span {
          font-size: 1.5em;
          color: #888;
        }
      }
    }
  }
}

#logo {
  width: 20%;
  float: left;

  img {
    width: 43px;
    height: auto;
    margin-left: 12%;
    margin-top: 15px;
  }
}

#slide4{
  background-color: #fff;
  color: #333333;
  height: 300px;
  background-size: cover;
  padding: 160px 0;
}

#slide5 {
  background: url('../img/slide5.jpg') 50% 0% no-repeat fixed;
  height: 400px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
}

#copyright {
  color: #fff;
  font-family:"Wellfleet";
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}

#copyright a {
  text-decoration: none;
  color: #fff;
}

.margin-bottom{
  margin-bottom: 2%;
}

/* MEDIA QUERIES */
@media (max-width: 865px) { 
  #logo {
    display: none;
  }

  #header-left {
    width: 80%;
    margin: 0;
    margin: 4% 10% 4% 10%;

    ul {
      display: block;
      margin-top: 0;

      li {
        padding-left: 20px;
        span {
          font-size: 1em;
        }
      }     
    }
  }
}