// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ---------------------
// |   S L I D E   1   |
// ---------------------


.hero #kids_big {
  // outline: 1px solid black;
  background: url('happy-group-of-kids.jpg');

  width: 100%;
  display: inline-block;
  vertical-align: top;
  font: 0/0 serif;
  color: transparent;

  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: 50% 25%;
  background-repeat: no-repeat;

  margin-top: 80px;

  .inner {
    padding-top: 26.68%;
    display: block;
    height: 0
  }
}

.hero #bucktown_logo_big {
  background: url('bucktown_logo_big.png');

  width: 100%;
  display: inline-block;
  vertical-align: top;
  font: 0/0 serif;
  color: transparent;

  -moz-background-size: 25%;
  -o-background-size: 25%;
  background-size: 25%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  // margin-top: 80px;

  .inner {
    padding-top: 21.2%;
    display: block;
    height: 0;
  }
}

// ---------------------
// |   S L I D E   2   |
// ---------------------

#slide2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 7%;
  overflow: hidden;
  background-color: #EBEBEB;
  color: #333333;
  /*height: 400px;*/

  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 25px;
      line-height: 45px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

#inst1 {
  background: url('piano.jpg') no-repeat top center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  display: inline-block;
}

#inst2 {
  background: url('guitar.jpg') no-repeat top center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  display: inline-block;
}

#inst3 {
  background: url('voice.jpg') no-repeat top center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  display: inline-block;
}

#inst4 {
  background: url('winds.jpg') no-repeat top center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  display: inline-block;
}

#piano-girl {
  // outline: 1px solid black;
  background: url('piano-girl.jpg');

  display: inline-block;
  vertical-align: top;
  font: 0/0 serif;
  color: transparent;

  -moz-background-size: 40%;
  -o-background-size: 40%;
  background-size: 40%;
  background-position: 50% top;
  background-repeat: no-repeat;

  .inner {
    padding-top: 70%;
    display: block;
    height: 0;
  }
}

