<div class='hero'>
  <span id="kids_big" role='img' aria-label='kids smiling'>
    <span class='inner'></span>
  </span>
  <span id="bucktown_logo_big">
    <span class='inner'></span>
  </span>
</div>