<div id="slide2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h1>Music Lessons</h1>
        <p>Bucktown Music offers one on one instruction for children and adults.  Lessons are based on the student’s individual needs and learning style. Lessons are fun and educational; we strive to build a love of music and of playing in each student, and foster their natural creativity in a structured environment. We have many years’ experience teaching students of all ages and levels.  All lessons are taught on-site at Bucktown Music.
        </p>
      
        <p>At Bucktown Music you can learn:</p>
          
        <ul class="center">
          <li><b>Piano</b></li>
          <li><b>Guitar</b></li>
          <li><b>Voice/Singing</b></li>
          <li><b>Violin and Fiddle</b></li>
          <li><b>Viola</b></li>
          <li><b>Clarinet</b></li>
          <li><b>Saxophone and Woodwinds</b></li>
          <li><b>Drums</b></li>
          <li><b>Intro to Music for 3-5 years old</b></li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3" id='inst1'><span class="inner"></span></div>
      <div class="col-xs-6 col-sm-3" id="inst2"><span class="inner"></span></div>
      <div class="col-xs-6 col-sm-3" id="inst3"><span class="inner"></span></div>
      <div class="col-xs-6 col-sm-3" id="inst4"><span class="inner"></span></div>
    </div>


    <div class="row">
      <div class='col-xs-10 col-xs-offset-1'>

        <p>Private music lessons are available for students age 6 to adult. Several times per year, we host studio recitals so that students have the opportunity to perform for friends and family.
        </p>
        <p><%= link_to "Click here to see available lessons times", 'http://www.bucktownmusic.com/Bucktown_Music/Available_Lessons.html', class: 'clear' %>
        </p>
        <br>
        <h1>Tuition</h1>
        <p>Lessons are $117 per month and are billed in a monthly basis.  There is a minimum enrollment of two months and a registration fee of $20.  Lessons are 30 minutes long, once a week
        </p>
        <br>
        <p><%= link_to "Click here for our complete private lessons enrollment information", 'http://www.bucktownmusic.com/Bucktown_Music/Lesson_Policies.html'  %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-2" center>
        <p class='center' id="not-sure"><b>Not sure which instrument your young child will enjoy?</b>  Enroll in one of our Intro-to-Music classes for 3, 4, and 5 year olds.  Children are introduced to piano, guitar, and violin, as well as diverse world music genres and early notation reading.  Email jessica@bucktownmusic.com for more information on these classes.
        </p>
      </div>

      <div class="col-xs-12 col-md-4 center" id="piano-girl">
        <span class='inner'></span>
      </div>
    </div>
  </div>
</div>