<div id="slide2">
    <div class="container">
    <h1>Music Lessons</h1>
      <p>Bucktown Music offers one on one instruction for children and adults.  Lessons are based on the student’s individual needs and learning style. Lessons are fun and educational; we strive to build a love of music and of playing in each student, and foster their natural creativity in a structured environment. We have many years’ experience teaching students of all ages and levels.  All lessons are taught on-site at Bucktown Music.</p>

      <p>At Bucktown Music you can learn:</p>
      <ul class="center">
        <li>Piano</li>
        <li>Guitar</li>
        <li>Voice/Singing</li>
        <li>Violin and Fiddle</li>
        <li>Viola</li>
        <li>Clarinet</li>
        <li>Saxophone and Woodwinds</li>
        <li>Drums</li>
        <li>Intro to Music for 3-5 years old</li>
      </ul>
      <br>

      <div class="row">
        <div class="col-md-3" id='inst1'></div>
        <div class="col-md-3" id="inst2"></div>
        <div class="col-md-3" id="inst3"></div>
        <div class="col-md-3" id="inst4"></div>
      </div>
        <br><br>

      <p><%= link_to "Click here to see available lessons times", 'http://www.bucktownmusic.com/Bucktown_Music/Available_Lessons.html', class: 'clear' %></p>

      <p>Private music lessons are available for students age 6 to adult. 

Several times per year, we host studio recitals so that students have the opportunity to perform for friends and family.  </p><br>
      <h1>Tuition</h1>
      <p>Lessons are $117 per month and are billed in a monthly basis.  There is a minimum enrollment of two months and a registration fee of $20.  Lessons are 30 minutes long, once a week</p>

      <p><%= link_to "Click here for our complete private lessons enrollment information", 'http://www.bucktownmusic.com/Bucktown_Music/Lesson_Policies.html'  %></p>

<br><br>
      <div class="row">
        <div class="col-md-8 center" >
        <p id="not-sure"><b>Not sure which instrument your young child will enjoy?</b>  Enroll in one of our Intro-to-Music classes for 3, 4, and 5 year olds.  Children are introduced to piano, guitar, and violin, as well as diverse world music genres and early notation reading.  Email jessica@bucktownmusic.com for more information on these classes.</p>
        </div>
        <div class="col-md-4 center">
          <%= image_tag 'piano-girl.jpg', class: 'center', id: 'piano-girl'%>
        </div>
      </div>
    </div>
</div>